@inject IJSRuntime JSRuntime

<div class="mood-board-container">
    <h3>Mood Board</h3>
    <div id="excalidraw-wrapper" style="height: 500px; border: 1px solid #ccc;">
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("excalidrawInterop.load");
        }
    }
}